@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

*::-moz-selection {
  color: #fbebe3;
  background-color: #632931;
}

*::selection {
  color: #fbebe3;
  background-color: #632931;
}

.container-fluid {
  margin: 0;
}

.navbar {
  height: 20%;
  background-color: #fbebe3;
  border-bottom: #632931 2px solid;
  border-top: #632931 2px solid;
}

.navbar-brand {
  text-align: center;
}

.navbar-brand img {
  height: 150px;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-link, #nav-link-sobremi, #nav-link-productos, #nav-link-tratamientos, #nav-link-contacto {
  margin: 5px;
  padding: 10px 10px;
  background-color: #f7dcce;
  color: inherit;
  border: 1px solid #632931;
  text-align: center;
}

#nav-link-sobremi:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #632931;
  color: #fbebe3;
}

#nav-link-productos:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #632931;
  color: #fbebe3;
}

#nav-link-tratamientos:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #632931;
  color: #fbebe3;
}

#nav-link-contacto:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #632931;
  color: #fbebe3;
}

.carousel img {
  width: 100%;
  height: auto;
}

.articulo {
  background-color: #fbebe3;
}

.articulo .row {
  margin-right: 15px;
}

.articulo h3 {
  padding: 10px;
  color: #632931;
  font-weight: bold;
  text-decoration: underline;
}

.articulo p {
  padding: 20px;
  color: #632931;
  text-align: justify;
  font-weight: bold;
}

.articulo iframe {
  padding: 10px;
  width: 60%;
  height: 30vh;
}

.n-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  width: 100%;
  height: 20vh;
  background-color: #fbebe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: #632931 2px solid;
  padding: 10px;
}

.footer-left {
  text-align: center;
  overflow-y: hidden;
}

.footer-left img {
  height: 80%;
}

.footer-left p {
  font-size: 12px;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--email {
  color: #632931;
  font-size: 6vh;
}

.btn--facebook {
  color: #632931;
  font-size: 6vh;
}

.btn--whatsapp {
  color: #632931;
  font-size: 6vh;
}

.btn--instagram {
  color: #632931;
  font-size: 6vh;
}

.footer-right i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

/* sobre mi */
.sobremi_titulo {
  width: 100vw;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  color: #632931;
  padding: 5px;
  background-color: #fbebe3;
  margin: 0;
  text-decoration: underline;
  border-top: #632931 2px solid;
}

.sobremi_articulo {
  background-color: #fbebe3;
}

.sobremi_articulo p {
  color: #632931;
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
}

.sobremi_articulo .fotoperfil {
  text-align: center;
  padding: 15px;
}

.sobremi_articulo img {
  height: 400px;
  width: 300px;
  border: #632931 1px solid;
}

.sobremi_articulo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.sobremi_galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.sobremi_galeria img {
  border: 1px solid #632931;
  width: 20%;
  height: 10%;
}

.sobremi_galeria img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

/* productos */
.prod_titulo {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  color: #632931;
  padding: 5px;
  background-color: #fbebe3;
  margin: 0;
  text-decoration: underline;
}

.card {
  padding: 30px;
  border: 0px;
  background-color: #fbebe3;
}

.card .card-header {
  text-align: center;
  background-color: #632931;
  color: #fbebe3;
}

.card .card-body {
  background-color: #fbebe3;
  border-top: 0px;
  border-left: 2px solid #632931;
  border-right: 2px solid #632931;
  text-align: center;
}

.card .card-body img {
  width: 50%;
}

.card .card-footer {
  background-color: #fbebe3;
  border-top: 0px;
  border-left: 2px solid #632931;
  border-right: 2px solid #632931;
  border-bottom: 2px solid #632931;
  text-align: center;
}

.card .card-footer .btn {
  border: 2px solid #632931;
  background-color: #632931;
  color: #fbebe3;
}

.card .card-footer .btn:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #fbebe3;
  color: #632931;
}

@media only screen and (min-width: 992px) {
  .zine .card-header {
    width: 50%;
    margin: 0 auto;
  }
  .zine .card-body {
    width: 50%;
    margin: 0 auto;
  }
  .zine .card-footer {
    width: 50%;
    margin: 0 auto;
  }
}

.trat_titulo {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  color: #632931;
  padding: 5px;
  background-color: #fbebe3;
  margin: 0;
  border-bottom: #632931 2px solid;
  text-decoration: underline;
}

.tratamientos1 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos1 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos1 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos1 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos1 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos2 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos2 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos2 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos2 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos2 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos3 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos3 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos3 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos3 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos3 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos4 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos4 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos4 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos4 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos4 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos5 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos5 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos5 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos5 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos5 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos6 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos6 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos6 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos6 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos6 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos7 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos7 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos7 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos7 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos7 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos8 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos8 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos8 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos8 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos8 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos9 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos9 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos9 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos9 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos9 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tratamientos10 h3 {
  text-align: center;
  padding: 10px;
  background-color: #632931;
  color: #fbebe3;
  margin: 0;
  font-size: 30px;
}

.tratamientos10 .contenedor_trat {
  text-align: center;
  background-color: #fbebe3;
  padding: 20px;
  letter-spacing: 20px;
}

.tratamientos10 .cont_img_trat {
  margin-top: 7px;
}

.tratamientos10 .imagen_trat {
  width: 80%;
  height: 40vh;
  border: #632931 2px solid;
}

.tratamientos10 .imagen_trat:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-cont h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  color: #632931;
  padding: 5px;
  background-color: #fbebe3;
  margin: 0;
  text-decoration: underline;
}

.main-cont p {
  text-align: justify;
  font-size: 20px;
  padding: 10px;
  background-color: #fbebe3;
  color: #632931;
  font-weight: bold;
  margin: 0;
}

.formulario {
  background-color: #fbebe3;
  padding: 20px;
}

.formulario .form_datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario .form_datos .form__nombre {
  width: 80%;
  padding: 20px;
  height: 3vh;
  margin: 10px;
}

.formulario .form_datos .form__email {
  width: 80%;
  padding: 20px;
  height: 3vh;
  margin: 10px;
}

.formulario .form_datos .form__asunto {
  width: 80%;
  padding: 20px;
  height: 3vh;
  margin: 10px;
}

.formulario .form_datos .form__texto {
  width: 80%;
  padding: 20px;
  height: 15vh;
  margin: 10px;
}

.formulario .form_datos .form__enviar {
  width: 100px;
  height: 50px;
  color: #632931;
  background-color: #fbebe3;
  border: #632931 1px solid;
}

.formulario .form_datos .form__enviar:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #632931;
  color: #fbebe3;
}

.formulario .form_datos .form__borrar {
  width: 100px;
  height: 50px;
  color: #632931;
  background-color: #fbebe3;
  border: #632931 1px solid;
}

.formulario .form_datos .form__borrar:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #632931;
  color: #fbebe3;
}
/*# sourceMappingURL=estilos.css.map */