@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

*::-moz-selection {
  color: #fbebe3;
  background-color: #632931;
}

*::selection {
  color: #fbebe3;
  background-color: #632931;
}

.navbar {
  height: 20%;
  background-color: #fbebe3;
  border-bottom: #632931 2px solid;
  border-top: #632931 2px solid;
}

.navbar-brand {
  text-align: center;
}

.navbar-brand img {
  height: 150px;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-link, #nav-link-sobremi, #nav-link-productos, #nav-link-tratamientos, #nav-link-contacto {
  margin: 5px;
  padding: 10px 10px;
  background-color: #f7dcce;
  color: inherit;
  border: 1px solid #632931;
  text-align: center;
}

#nav-link-sobremi:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: brown;
  color: #fbebe3;
}

#nav-link-productos:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: darkred;
  color: #fbebe3;
}

#nav-link-tratamientos:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #3b0202;
  color: #fbebe3;
}

#nav-link-contacto:hover {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #8e0028;
  color: #fbebe3;
}

.carousel img {
  width: 100%;
  height: auto;
}

.articulo {
  background-color: beige;
}

.articulo h3 {
  padding: 10px;
  color: #632931;
  font-weight: bold;
  text-decoration: underline;
}

.articulo p {
  padding: 20px;
  color: #632931;
  text-align: justify;
  font-weight: bold;
}

.articulo iframe {
  padding: 10px;
}

.n-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  height: 20vh;
  background-color: #fbebe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: #632931 2px solid;
  padding: 10px;
}

.footer-left {
  text-align: center;
}

.footer-left img {
  height: 80%;
}

.footer-left p {
  font-size: 12px;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--email {
  color: #C25E30;
  font-size: 50px;
}

.btn--facebook {
  color: #3a5795;
  font-size: 50px;
}

.btn--whatsapp {
  color: #075307;
  font-size: 50px;
}

.btn--instagram {
  color: #fd7d93;
  font-size: 50px;
}

.footer-right i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

/* sobre mi */
.sobremi_titulo {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  color: #632931;
  padding: 5px;
  background-color: #fbebe3;
  margin: 0;
}

.sobremi_articulo {
  background-color: #fbebe3;
}

.sobremi_articulo p {
  color: #632931;
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
}

.sobremi_articulo .fotoperfil {
  text-align: center;
  padding: 15px;
}

.sobremi_articulo img {
  height: 400px;
  width: 300px;
  border: #632931 1px solid;
}

.sobremi_articulo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.sobremi_galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.sobremi_galeria img {
  border: 1px solid #632931;
  width: 20%;
  height: 10%;
}

.sobremi_galeria img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

/* productos */
.prod_titulo {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  color: #632931;
  padding: 5px;
  background-color: #fbebe3;
  margin: 0;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fbebe3;
  margin: 0;
}

.prod_subtitulo {
  text-align: center;
  color: #632931;
  padding: 5px;
}

.columna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.imagen_prod {
  width: 60%;
  margin: 5px;
  border: #632931 2px solid;
  border-radius: 20px;
}

.imagen_prod:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=estilos.css.map */