@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

// variables
// paleta de colores
$colorOscuro:#632931;
$colorClaro:#fbebe3;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    
    
}




*::selection{
    color: $colorClaro;
    background-color: $colorOscuro;
}

.container-fluid{
    margin: 0;
}

.navbar{
    height: 20%;
    background-color: $colorClaro;
    border-bottom: $colorOscuro 2px solid;
    border-top: $colorOscuro 2px solid;
}

.navbar-brand{
    text-align: center;
    img{
        height:150px;
    }
}

.navbar-collapse{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-link{
    margin: 5px;
    padding: 10px 10px;
    background-color: #f7dcce;
    color: inherit;
    border: 1px solid $colorOscuro ;
    text-align: center;
}

#nav-link-sobremi{
    @extend #nav-link;
}
#nav-link-sobremi:hover{
    transition: ease 0.6s;
    background-color: $colorOscuro;
    color: $colorClaro;
}
#nav-link-productos{
    @extend #nav-link;
}
#nav-link-productos:hover{
    transition: ease 0.6s;
    background-color: $colorOscuro;
    color: $colorClaro;
}
#nav-link-tratamientos{
    @extend #nav-link;
}
#nav-link-tratamientos:hover{
    transition: ease 0.6s;
    background-color: $colorOscuro;
    color: $colorClaro;
}
#nav-link-contacto{
    @extend #nav-link;
}
#nav-link-contacto:hover{
    transition: ease 0.6s;
    background-color: $colorOscuro;
    color: $colorClaro;
}


.carousel img{
    width: 100%;
    height:auto;
}

.articulo{
    background-color: $colorClaro;
    
    .row{
        margin-right: 15px;
    }
    h3{
        padding: 10px;
        color: $colorOscuro;
        font-weight: bold;
        text-decoration: underline;
    
    }
    p{
        padding: 20px;
        color: $colorOscuro;
        text-align: justify;
        font-weight: bold;
        
    }
    iframe{
        padding: 10px;
        width: 90%;
        height: 40vh;
    }
}

.n-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    width: 100%;
    height: 20vh;
background-color: $colorClaro;
display: flex;
flex-direction: row;
border-top: $colorOscuro 2px solid;
padding: 10px;
}
.footer-left{
    text-align: center;
    overflow-y: hidden;
    img{
        height: 80%;
    }
    p{
        font-size: 12px;
    }
} 

.footer-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

$redes:(
    email: $colorOscuro,
    facebook:  $colorOscuro,
    whatsapp: $colorOscuro,
    instagram: $colorOscuro
        
);

@each $red, $color in $redes{
    .btn--#{$red}{
        color: $color;
        font-size: 6vh;
    }
}
.footer-right i:hover{
    transform: scale(1.20);
    transition: all 0.7s;
}

/* sobre mi */
.sobremi_titulo{
    width: 100vw;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    color: $colorOscuro;
    padding: 5px;
    background-color: $colorClaro;
    margin: 0;
    text-decoration: underline;
    border-top: $colorOscuro 2px solid;
    
}

.sobremi_articulo{
    background-color: $colorClaro;  
    
    p{
        color: $colorOscuro;
        padding: 60px;
        font-size: 20px;
        font-weight: bold;

        
    }
    .fotoperfil{
        text-align: center;
        padding: 15px;
        
    }
    img{
        width: 70%;
        border: $colorOscuro 1px solid;
        
    }
} 
.sobremi_articulo img:hover{
    transform: scale(1.10);
    transition: all 0.7s;

}
.sobremi_galeria{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    img{
        border: 1px solid $colorOscuro;
        width: 20%;
        height: 10%;
    }
    
}
.sobremi_galeria img:hover{
    transform: scale(1.10);
    transition: all 0.7s;

}

/* productos */
.prod_titulo{
    text-align: center;
        font-size: 40px;
        letter-spacing: 3px;
        color: $colorOscuro;
        padding: 5px;
        background-color: $colorClaro;
        margin: 0;
        text-decoration: underline;
}

.card{

   padding: 30px;
   border: 0px;
   background-color: #fbebe3;
    .card-header{
        text-align: center;
        background-color: #632931;
        color: #fbebe3;
    }
    .card-body{
        background-color: $colorClaro;
        border-top: 0px;
        border-left: 2px solid $colorOscuro;
        border-right: 2px solid $colorOscuro;
        text-align: center;
        img{
            width: 50%;
        }
        
    }
    .card-footer{
        background-color: $colorClaro;
        border-top: 0px;
        border-left: 2px solid $colorOscuro;
        border-right: 2px solid $colorOscuro;
        border-bottom: 2px solid $colorOscuro;
        text-align: center;
        .btn{
            border: 2px solid $colorOscuro;
            background-color: $colorOscuro;
            color: $colorClaro;

        }
        .btn:hover{
            transition: ease 0.6s;
            background-color: $colorClaro;
            color: $colorOscuro;
        }

    }
}

@media only screen and (min-width: 992px){
    .zine{
        .card-header{
            width: 50%;
            margin: 0 auto;
        }
        .card-body{
            width: 50%;
            margin: 0 auto;
        }
        .card-footer{
            width: 50%;
            margin: 0 auto;
        }
    }
}


// .prod_subtitulo{
//     text-align: center;
//         color: $colorOscuro;
//         padding: 5px;
// }

// .columna{
//     display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding: 5px;
// }

// @mixin imagen_tabla{
//     width: 60%;
//     margin: 5px;
//     border: $colorOscuro 2px solid;
//     border-radius: 20px;
// }

// .imagen_prod{
//     @include imagen_tabla;
// }
// .imagen_prod:hover{
//     transform: scale(1.05);
//     transition: all 0.3s;
// }

// tratamientos
.trat_titulo{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    color: $colorOscuro;
    padding: 5px;
    background-color: $colorClaro;
    margin: 0;
    border-bottom: #632931 2px solid;
    text-decoration: underline;
}

@for $i from 1 through 10{
    .tratamientos#{$i}{
        h3{
            text-align: center;
            padding: 10px;
            background-color: $colorOscuro;
            color: $colorClaro;
            margin: 0;
            font-size: 30px;
        }

        .contenedor_trat{
            text-align: center;
            background-color: #fbebe3;
            padding: 20px;
            letter-spacing: 20px;
        }

        .cont_img_trat{
            margin-top: 7px;
        }

        .imagen_trat{
            width: 80%;
            height: 40vh;
            
            border: #632931 2px solid;
        }

        .imagen_trat:hover{
            transition: ease 0.6s;
            transform: scale(1.05);
        }
        
    }
}

// contacto

.main-cont{
    h2{
        text-align: center;
        font-size: 40px;
        letter-spacing: 3px;
        color: $colorOscuro;
        padding: 5px;
        background-color: $colorClaro;
        margin: 0;
        text-decoration: underline;
    }
    p{
        text-align: justify;
        font-size: 20px;
        padding: 10px;
        background-color: $colorClaro;
        color: $colorOscuro;
        font-weight: bold;
        margin: 0;
    }

}

.formulario{
    background-color: $colorClaro;
    padding: 20px;

    .form_datos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        

    
    
    .form__nombre{

        width: 80%;
        padding: 20px;
        height: 3vh;
        margin: 10px;

    }

    .form__email{
        width: 80%;
        padding: 20px;
        height: 3vh;
        margin: 10px;
        

    }

    .form__asunto{
        width: 80%;
        padding: 20px;
        height: 3vh;
        margin: 10px;

    }

    .form__texto{
        width: 80%;
        padding: 20px;
        height: 15vh;
        margin: 10px;

    }

    // .form_mapa{
        
    // }

    .form__enviar{
        width: 100px;
        height: 50px;
        color: $colorOscuro;
        background-color: $colorClaro;
        border: $colorOscuro 1px solid;
       
    }

    .form__enviar:hover{
        transition: ease 0.6s;
        background-color: $colorOscuro;
        color: $colorClaro;
        
    }
    .form__borrar{
        width: 100px;
        height: 50px;
        color: $colorOscuro;
        background-color: $colorClaro;
        border: $colorOscuro 1px solid;
        
        
    }
    .form__borrar:hover{
        transition: ease 0.6s;
        background-color: $colorOscuro;
        color: $colorClaro;
    }
    }

}